Source: getthermal
Section: utils
Priority: optional
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 11),
               qt5-qmake,
               qtmultimedia5-dev,
               qtdeclarative5-dev
Standards-Version: 4.2.1
Vcs-Git: https://salsa.debian.org/rubund/getthermal.git
Vcs-Browser: https://salsa.debian.org/rubund/getthermal
Homepage: https://github.com/groupgets/GetThermal

Package: getthermal
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         qml-module-qtquick-controls2,
         qml-module-qtquick-layouts,
         qml-module-qtquick2,
         qml-module-qtmultimedia,
         qml-module-qtquick-window2,
         qml-module-qtquick-templates2,
         qml-module-qtgraphicaleffects
Description: xxx
 xxx
 xx
