#!/usr/bin/make -f

#export DH_VERBOSE=1

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	mkdir -p libuvc/build
	cd libuvc/build && cmake ..
	dh_auto_build --builddirectory=libuvc/build
	mkdir -p build
	cd build && /usr/lib/qt5/bin/qmake ..
	#dh_auto_configure --builddirectory=build -- ..

override_dh_auto_build:
	dh_auto_build --builddirectory=build

override_dh_clean:
	dh_clean
	$(RM) -r build
	$(RM) -r libuvc/build
